
    {{#each this}}
    <div class="country-card">
      <h2 class="country-name">{{name}}</h2>

      <div class="country-information">
            <div class="country-information-text">
                <p class="country-card-title">Capital: <span class="country-card-text">{{capital}}</span> </p>
                <p class="country-card-title">Population:<span class="country-card-text">{{population}}</span></p>
                <p class="country-card-title">languages:</p>
              <ul class="country-card-text">
                 {{#each languages}}
                   <li class="tag-list__item">{{this.name}}</li>
                 {{/each}}
               </ul>

            </div>
           <div class="country-flag">
               <img src="{{flag}}" alt="flag">
           </div>
       </div>
    </div>
    {{/each}}
